body {
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    background-image: url('floresta.jpg');
    background-size: cover;
    background-position: center;
}

header, footer {
    background-color: #157548;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #2a947d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

form input[type="submit"], form input[type="reset"] {
    width: auto;
    cursor: pointer;
    background-color: #69d4d8;
    color: rgb(0, 0, 0);
}

footer {
    font-size: 0.9em;
    margin-top: 20px;
}

h2 {
    color: white;
}