body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
}

.desenvolvedor {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.desenvolvedor h3 {
    margin-top: 0;
}

.desenvolvedor-foto {
    width: 150px;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    font-size: 0.9em;
    margin-top: 20px;
}
